[submodule "dof/glm/glm"]
	path = dof/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "dof/profile/microprofile"]
	path = dof/profile/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "dof/scheduler/enkiTS"]
	path = dof/scheduler/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "dof/imgui/imgui"]
	path = dof/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dof/config/cereal"]
	path = dof/config/cereal
	url = https://github.com/USCiLab/cereal.git
