[submodule "dof/glm/glm"]
	path = dof/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "dof/profile/microprofile"]
	path = dof/profile/microprofile
	url = https://github.com/jonasmr/microprofile.git
